/*
Colors used:
Primary Color (white): #FFFCFC;
Secondary Color (lightpink): #faeaf5;
Tertiary Color (lightgrey): #DDDDDD;
Quaternary Color (bpink); #EE3897;
Quinary Color (black): #000000;
Hyperlink (grey): #393939
*/

body {
  background-color: #fffcfc;
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
}

header {
  background-color: #faeaf5;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #393939;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #393939;
}

a:hover,
a:focus {
  color: #ee3897;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #630051;
}

.button {
  display: inline-block;
  background-color: #c9c9c9;
  color: #393939;
  padding: 13px;
  border-radius: 18px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #393939;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: #ee3897;
  text-decoration: none;
}

.button:active {
  color: #630051;
}

.button.all-in-one {
  background-color: #7307d2;
  color: #fff;
}

.button.all-in-one:visited {
  background-color: #4b038a;
  color: #fff;
}

.button.all-in-one:hover,
.button.all-in-one:focus {
  color: #fff;
  background-color: #038a64;
  text-decoration: none;
}

.button.all-in-one:active {
  color: #038a64;
}

.button.vocapp {
  background-color: #0011cb;
  color: #fff;
}

.button.vocapp:visited {
  background-color: #00006a;
  color: #fff;
}

.button.vocapp:hover,
.button.vocapp:focus {
  color: #fff;
  background-color: #038a64;
  text-decoration: none;
}

.button.vocapp:active {
  color: #038a64;
}

header {
  background-color: #faeaf5;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #b2b0b0;
  text-align: center;
  padding: 10px 0;
}

selector {
  margin: 0 auto;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #EE3897;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
