/*
Colors used:
Primary Color (white): #FFFCFC;
Secondary Color (lightpink): #faeaf5;
Tertiary Color (lightgrey): #DDDDDD;
Quaternary Color (bpink); #EE3897;
Quinary Color (black): #000000;
Hyperlink (grey): #393939
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fffcfc;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
}

header {
  background-color: #faeaf5;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 3px solid #b2b0b0;
  text-align: center;
  position: fixed;
  width: 100%;
}

header .container {
  gap: 20px;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

ul {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: #393939;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #393939;
}

a:hover,
a:focus {
  color: #ee3897;
  text-decoration: underline;
}

a:active { /* selected link */
  color: #630051;
}

.button {
  display: inline-block;
  background-color: #c9c9c9;
  color: #393939;
  padding: 13px;
  border-radius: 18px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #393939;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: #ee3897;
  text-decoration: none;
}

.button:active {
  color: #630051;
}

.button.all-in-one {
  background-color: #7307d2;
  color: #fff;
}

.button.all-in-one:visited {
  background-color: #4b038a;
  color: #fff;
}

.button.all-in-one:hover,
.button.all-in-one:focus {
  color: #fff;
  background-color: #038a64;
  text-decoration: none;
}

.button.all-in-one:active {
  color: #038a64;
}

.button.vocapp {
  background-color: #0011cb;
  color: #fff;
}

.button.vocapp:visited {
  background-color: #00006a;
  color: #fff;
}

.button.vocapp:hover,
.button.vocapp:focus {
  color: #fff;
  background-color: #038a64;
  text-decoration: none;
}

.button.vocapp:active {
  color: #038a64;
}

.footer-icon {
  max-width: 40px;
  height: fit-content;
}

/* Layout styling */

.container {
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.work .row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ee3897;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

#hero {
  background-color: #f9f1f7;
  padding: 20px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

#hero h1 {
  text-align: center;
  margin: 0;
}

main {
  padding-top: 130px;
}

#about h1 {
  text-align: center;
}

.my-picture {
  max-width: 500px;
  height: fit-content;
  align-content: center;
}

.social ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social svg {
  width: 50px;
}

.social svg path {
  fill: #000;
}

footer {
  text-align: center;
  background-color: #faeaf5;
}

/* Layout styling - all in one */

.all-in-one .welcome {
  background: linear-gradient(250.17deg, #198bb8 19.55%, #590696 78.09%);
  padding: 50px 0;
  color: #fff;
}

.all-in-one .info-box {
  background: #00000038;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.all-in-one .welcome .content_wrapper {
  gap: 25px;
}

.all-in-one .welcome .image_wrapper {
  overflow: hidden;
}

.all-in-one .welcome img {
  margin-left: -30px;
}

.allinone_images {
  max-width: 600px;
}

.allinone_icn {
  width: 70px;
}

.quick-links {
  display: flex;
  overflow: scroll;
}

.arrows_icn {
  max-width: 30px;
}

.all-in-one h2 {
  margin: 15px 0;
}

.all-in-one h3 {
  margin: 15px 0;
}

.all-in-one h4 {
  margin: 15px 0;
}

.all-in-one .container {
  margin: 15px 0;
}

.home-prototypes ul {
  display: inline-block;
  margin: 15px 0;
}

.test ul {
  margin: 0 0 20px;
}

.user-flow {
  margin: 30px 0;
}

.user-flow-visual ul {
  list-style-type: none;
  padding: 8px;
}

.image-prototype {
  width: 700px;
}

.visuals-prototype {
  display: flex;
  overflow: scroll;
}

/* Layout styling - about */

.personal-interest ul {
  padding-bottom: 20px;
}

.my-profile {
  max-width: 600px;
}
